<div class="container">
    <h2>Hottest Brands</h2>
    <div class="container" id="wrapper">
        <div class="row">
            <div class="col" id="Nike">
                <h4>Nike</h4>
                <button class="btn btn-dark">Shop Nike</button>
            </div>
            <div class="col" id="Jordan">
                <h4>Jordan</h4>
                <button class="btn btn-dark">Shop Jordan</button>
            </div>
        </div><!-- End of row 1-->
        <div class="row">
            <div class="col" id="Yeezy">
                <h4>Yeezy</h4>
                <button class="btn btn-dark">Shop Yeezy</button>
            </div>
            <div class="col" id="Adidas">
                <h4>Adidas</h4>
                <button class="btn btn-dark">Shop Adidas</button>
            </div>
        </div>
    </div>
</div>
