<div class="container">
    <h2>Sneaker Inventory</h2>
    <form action="Submit">
        
    </form>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Colorway</th>
                <th>Year</th>
                <th>Price</th>
            <tr>
        </thead>
        <tbody>
            <tr *ngFor="let sneaker of sneakers" [routerLink]="['/sneakers/', sneaker.id]">
                <td><img src="{{sneaker.image}}" alt="{{sneaker.brand.name}} {{sneaker.model}} {{sneaker.colorway}}"></td>
                <td>{{sneaker.brand.name}}</td>
                <td>{{sneaker.model}}</td>
                <td>{{sneaker.colorway}}</td>
                <td>{{sneaker.year}}</td>
                <td>{{sneaker.price | currency: 'USD'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <img src="{{sneakers[0].colorway}}" alt="Sneaker Image"> -->


